<h1>Pets</h1>
total <%= @pets.size %> pets found
	<div id="pet-list">
	    <input class="search" placeholder="Search" />
	    <button class="sort" data-sort="name">
	      Sort by name
	    </button>
	    <button class="sort" data-sort="age">
	      Sort by age
	    </button>

    <ul class="list">
			<%= @pets.each_with_index do |pet, index| %>
				<ul class="inline-row">
					<%= index %>
					<li class="name">	 <%= pet.name %> </li>
					<li class="age"> <%= pet.age %> </li>
				</ul>
			<% end %>
		</ul>

	</div>

<%= link_to 'New Pet', new_pet_path %>
