<div id="pet-list">
	<div class="list-tools">
		<h1>Find Your New Best Friend</h1>
		<div class="tools">
	    <input class="search" placeholder="Search" />
	    <br>
			<p>Total <%= @pets.size %> pets found!</p>
	    <button class="sort" data-sort="name">
	      Sort by name
	    </button>
	    <button class="sort" data-sort="age">
	      Sort by age
	    </button>
	    <button class="sort" data-sort="size">
	      Sort by size
	    </button>
	    <button class="sort" data-sort="species">
	      Sort by species
	    </button>
	  </div>
	</div>
  <ul class="list">
		<%= @pets.each do |pet| %>
			<ul class="pet-entry">
					<div id="profile">
						<% if pet.species == "Cat" %>
							<%= image_tag "cat-profile.jpg" %>
						<% else %>
							<%= image_tag "puppy-profile.jpg" %>
						<% end %>
					</div>
				<li class="name"><h3>Hi, I'm <strong><%= pet.name %></strong></h3> </li>
				<li class="age">Age: <%= pet.age %> </li>
				<li class="size">Size: <%= pet.size %> </li>
				<li class="species">Species: <%= pet.species %> </li>
				<li class=""> Status: <%= pet.status %> </li>
				<li class=""> Organization: <%= pet.organization_name%> </li>
				<li class=""> Housebroken? <%= pet.is_housebroken %> </li>
				<li class=""> Housetrained? <%= pet.is_housetrained %> </li>
				<li class=""> Hypoallergenic? <%= pet.is_hypoallergenic %> </li>
				<li class=""> Color: <%= pet.color %> </li>
				<li class=""> Breed(s): <%= pet.primary_breed %> - <%= pet.secondary_breed %> </li>
				<li class=""> Hair: <%= pet.hair_length %> </li>
				<li class=""> City: <%= pet.contact_city %> </li>

				<div class="profile-page"><%= link_to 'View Complete Profile', pet %> </div>
			</ul>
		<% end %>
	</ul>
	<p><%= link_to 'Add a New Pet', new_pet_path %></p>
	<ul class="pagination"></ul>
</div>


