<h1>Pets</h1>
total <%= @pets.size %> pets found
	<div id="pet-list">
	    <input class="search" placeholder="Search" />
	    <button class="sort" data-sort="name">
	      Sort by name
	    </button>
	    <button class="sort" data-sort="age">
	      Sort by age
	    </button>
	    <button class="sort" data-sort="size">
	      Sort by size
	    </button>
	    <button class="sort" data-sort="species">
	      Sort by species
	    </button>
    <ul class="list">
    	<ul class="list-headers">
    		<li><h2>Name</h2></li>
    		<li><h2>Age</h2></li>
    		<li><h2>Size</h2></li>
    		<li><h2>Status</h2></li>
    		<li><h2>Org Name</h2></li>
    		<li><h2>Housebroken?</h2></li>
    		<li><h2>Housetrained?</h2></li>
    		<li><h2>Hypoallergenic?</h2></li>
    		<li><h2>Tail</h2></li>
    		<li><h2>Color</h2></li>
    		<li><h2>Breed</h2></li>
    		<li><h2>Hair Length</h2></li>
    		<li><h2>Full Profile</h2></li>
    	</ul>
			<%= @pets.each do |pet| %>
				<ul class="inline-row">
					<li class="name">	 <%= pet.name %> </li>
					<li class="age"> <%= pet.age %> </li>
					<li class="size"> <%= pet.size %> </li>
					<li class="species"> <%= pet.species %> </li>
					<li class=""> <%= pet.status %> </li>
					<li class=""> <%= pet.organization_name%> </li>
					<li class=""> <%= pet.is_housebroken %> </li>
					<li class=""> <%= pet.is_housetrained %> </li>
					<li class=""> <%= pet.is_hypoallergenic %> </li>
					<li class=""> <%= pet.tail %> </li>
					<li class=""> <%= pet.color %> </li>
					<li class=""> <%= pet.primary_breed %> - <%= pet.secondary_breed %> </li>
					<li class=""> <%= pet.hair_length %> </li>
					<li class=""> <%= pet.contact_street_address %> </li>
					<li class=""> <%= pet.contact_city %> </li>
					<li class=""> <%= pet.contact_state %> </li>
					<li class=""> <%= pet.contact_zipcode %> </li>
					<li class=""> <%= pet.contact_phone %> </li>
					<li class=""> <%= pet.contact_fax %> </li>
					<li class=""> <%= pet.contact_email %> </li>
					<li class=""><%= link_to 'profile', pet %> </li>
				</ul>
			<% end %>
		</ul>

	</div>

<%= link_to 'New Pet', new_pet_path %>

