<p id="notice"><%= notice %></p>

<%= @pet.name %>
  <%= @pet.age  %>
  <%= @pet.gender %>
  <%= @pet.size %>
  <%= @pet.description %>
  <%= @pet.species %>
  <%= @pet.status   %>
  <%= @pet.organization_name %>
  <%= @pet.is_housebroken %>
  <%= @pet.is_housetrained %>
  <%= @pet.is_hypoallergenic %>
  <%= @pet.tail %>
  <%= @pet.color %>
  <%= @pet.primary_breed   %>
  <%= @pet.secondary_breed   %>
  <%= @pet.hair_length %>
  <%= @pet.contact_street_address %>
  <%= @pet.contact_city %>
  <%= @pet.contact_state %>
  <%= @pet.contact_zipcode %>
  <%= @pet.contact_phone %>
  <%= @pet.contact_fax %>
  <%= @pet.contact_email %>
  <%= @pet.address  %>
  <%= @pet.coordinates %>


<%= link_to 'Back', pets_path %>
